$White: hsl(0, 0%, 100%);
$Black: hsl(0, 0%, 0%);
$Dark-Gray: hsl(0, 0%, 55%);
$Very-Dark-Gray: hsl(0, 0%, 41%);
$font-altas: "Alata", serif;
$font-sans: "Josefin Sans", sans-serif;
@mixin social-links-before {
  &:hover::before,
  &:focus::before {
    width: 100%;
    opacity: 1;
  }
}
@mixin footer-socials {
  li {
    @include list-defualt();
    a {
      @include anchor-el();
      @include social-links-before();
    }
  }
}

footer {
  font-family: $font-altas;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 4rem;
    grid-row-gap: 1rem;
    .logo {
      img {
        width: 15rem;
      }
      @media screen and (max-width: 760px) {
        justify-self: center;
      }
    }
    .socials {
      justify-self: end;
      display: flex;
      @include footer-socials();
      align-items: center;
      @media screen and (max-width: 760px) {
        justify-self: center;
        order: 3;
      }
    }
    .footer-links {
      display: flex;
      align-items: center;
      @include nav-links();
      @media screen and (max-width: 760px) {
        justify-self: center;
        flex-direction: column;
        li {
          margin-left: 0;
          a {
            font-size: 1.5rem;
          }
        }
      }
    }
    .copyright {
      color: $Dark-Gray;
      justify-self: end;
      font-size: 1.5rem;
      display: flex;
      align-items: center;
      @media screen and (max-width: 760px) {
        justify-self: center;
        order: 4;
      }
    }
    @media screen and (max-width: 760px) {
      grid-template-rows: repeat(5, max-content);
      grid-template-columns: 1fr;
      text-align: center;
    }
  }
  .attribution {
    grid-row: -2 / -1;
    grid-column: 1 / -1;
    justify-self: center;
    color: $Dark-Gray;
    display: flex;
    align-items: center;
    @include footer-socials();
    li {
      margin-left: 5px !important;
      margin-bottom: -1rem;
    }
    a {
      align-self: center;
      font-size: 1rem !important;
      margin-bottom: -1rem;
    }
  }
}
